.homeWrapper {
  height: 100%;
  background-color: #1C2237;
}


.homepageBody {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  height: 100vh;
  padding: 10%;
}

.homepageBody_Top {
  width: 100%;
}

.homepageHeader {
  text-align: center;
  color: white;
}

.homepageBody_Main {
  height: 50vh;
  width: 100%;
  overflow-y: auto;
}

.homepageBody_Bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}